/* Importando fontes do Google Fonts */
@import url("https://fonts.googleapis.com/css?family=Open+Sans|Roboto:400,700&display=swap");

/* Definindo variáveis de cor e estilo global */
:root {
  --primary-color-1: hsl(205, 86%, 17%);
  --primary-color-4: hsl(205, 63%, 48%);
  --primary-color-5: hsl(205, 78%, 60%);
  --grey-color-5: hsl(210, 22%, 49%);
  --grey-color-10: hsl(206, 33%, 96%);
  --black: #222;
  --primary-font: "Roboto", sans-serif;
  --secondary-font: "Open Sans", sans-serif;
  --transition-duration: 0.3s;
  --spacing: 0.25rem;
  --border-radius: 0.5rem;
  --dark-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}

/* Estilo global para resetar margens, preenchimentos e caixa de modelo */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--primary-font);
  overflow: hidden;
}

/* Estilo do corpo da página */
body {
  height: 100vh;
  width: 100vw;
}

/* Estilo da barra de navegação */
.navbar {
  background-color: var(--grey-color-10);
  padding: 10px;
  display: flex;
  justify-content: space-around;
  box-shadow: var(--dark-shadow);
  text-align: center;
  align-items: center;
}

/* Estilo do logotipo */
.logo p {
  letter-spacing: var(--spacing);
  font-size: 20px;
  font-weight: bold;
  color: var(--primary-color-5);
}

/* Estilo dos links de navegação */
nav a {
  font-size: 20px;
  padding-top: 10px;
  letter-spacing: var(--spacing);
  text-decoration: none;
  color: var(--primary-color-1);
  font-weight: 300;
}

/* Efeito hover nos links de navegação */
nav a:hover {
  color: var(--primary-color-5);
}

/* Estilo da seção principal */
main {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-color: var(--grey-color-5);
  height: 95.43%;
}

/* Estilo do contêiner principal */
.container {
  text-align: center;
  font-family: var(--secondary-font);
}

/* Estilo do cabeçalho H2 dentro do contêiner */
.container h2 {
  background: var(--black);
  color: white;
  padding: 1rem;
  border-radius: var(--border-radius);
  margin-bottom: 2.5rem;
}

/* Estilo do elemento que exibe a cor hexadecimal */
#showHex {
  color: var(--primary-color-4);
}

/* Estilo do botão "Click Me" */
#clickMe {
  text-transform: uppercase;
  background: transparent;
  color: var(--black);
  padding: 0.375rem 0.75rem;
  letter-spacing: var(--spacing);
  display: inline-block;
  font-weight: 700;
  font-size: 0.875rem;
  border: 2px solid var(--black);
  cursor: pointer;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
  border-radius: var(--border-radius);
  font-family: var(--secondary-font);
}

/* Efeito hover no botão "Click Me" */
#clickMe:hover {
  border: 2px solid var(--primary-color-5);
  transition: color var(--transition-duration);
  color: var(--primary-color-5);
}

@media screen and (max-width: 368px) {

  .navbar {
    display: flex;
    flex-direction: column;
  }
  nav a {
    margin-top: 10px;
    letter-spacing: normal;
    font-size: 15px;

  }

  .container {
    margin: 30px;
  }
}